build/
imgui.ini
settings.ini
.vscode/
.vs/
.cap
.DS_Store
CMakeUserPresets.json
.cache/
.idea/



# Build output directories
bin/
bin-int/

# Visual Studio project and solution files
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user